<li><g:link class="list" action="index" params="[onlyActive:true]" >Активные</g:link></li>
<li><g:link class="list" params="[onlyFrozen:true]" action="index">Остановленные</g:link></li>
<li><g:link class="list" params="[onlyCompleted:true]" action="index">Завершённые</g:link></li>