<%@ page import="project.time.management.TaskTime" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'taskTime.label', default: 'TaskTime')}" />
		<title><g:message code="default.edit.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#edit-taskTime" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
		<ul>
        				<li><g:render template="/base/home_link"/></li>
        				<li><g:link class="list" params="[projectId:taskTimeInstance.task.step.project.id,stepId:taskTimeInstance.task.step.id,taskId:taskTimeInstance.task.id]" action="index">Список всех затрат времени для задачи</g:link></li>
        				<li><g:link class="create" params="[projectId:taskTimeInstance.task.step.project.id,stepId:taskTimeInstance.task.step.id,taskId:taskTimeInstance.task.id]" action="create">Добавить время для задачи</g:link></li>
        			</ul>
		</div>
		<div id="edit-taskTime" class="content scaffold-edit" role="main">
			<h1><g:message code="default.edit.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<g:hasErrors bean="${taskTimeInstance}">
			<ul class="errors" role="alert">
				<g:eachError bean="${taskTimeInstance}" var="error">
				<li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
				</g:eachError>
			</ul>
			</g:hasErrors>
			<g:form url="[resource:taskTimeInstance, action:'update']" method="PUT" >
				<g:hiddenField name="version" value="${taskTimeInstance?.version}" />
				<fieldset class="form">
					<g:render template="form"/>
				</fieldset>
				<fieldset class="buttons">
					<g:actionSubmit class="save" action="update" value="${message(code: 'default.button.update.label', default: 'Update')}" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
